NEXT_PUBLIC_APPWRITE_ENDPOINT=
NEXT_PUBLIC_APPWRITE_PROJECT_ID=
NEXT_PUBLIC_APPWRITE_DATABASE_ID=
NEXT_PUBLIC_APPWRITE_LEADS_TABLE_ID=
NEXT_PUBLIC_APPWRITE_ADMIN_TEAM_ID=
NEXT_PUBLIC_ENQUIRY_FUNCTION_URL=
